h2 {
	color: #006699;
}

* {
  font-size: 14px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
}

#app {
	padding: 20px;
	font-family: robot, arial
}

svg {
	fill: #000;
	fill-opacity: 0.3;
	border: 1px solid;
	margin: 10px auto 0 auto;
}
  
path {
	stroke: steelblue;
	stroke-width: 2px;
	fill: none;
}
  
.axis {
	stroke: #000;
}
  
.axis-labels text {
	fill: #000;
	fill-opacity: 0.9;
	font-size: 12px;
	text-anchor: middle;
}
  
.axis-labels line {
	stroke: #000;
}
  
.gridline {
	opacity: 0.2;
}
  
.x-axis-labels{
	transform: rotate(-10deg)
}

.dots {
	stroke: #000;
	fill-opacity: 1
}
 
form {
	margin-top: 20px;
}

form .form-group, form .show-on-chart {
	float: left;
}

form .show-on-chart {
	margin: 27px 0px 0px 10px;
}

.error {
	color: red;
  margin-left: 30px;
}

.show-on-chart.btn-primary.disabled, .show-on-chart.btn-primary:disabled {
	opacity: 0.2;
}